<ion-header>
    <ion-toolbar>
        <ion-title class="text-center">{{operationStr}} Product</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content" [fullscreen]="true">
    <ion-title>Images</ion-title>
    <ion-row class="ion-padding">
        <ion-button color="light" size="large" expand="block">
            <ion-icon name="add"></ion-icon>
        </ion-button>
        <!-- <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
            alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img> -->
    </ion-row>

    <ion-title>Product</ion-title>
    <ion-list>
        <ion-item>
            <ion-input label="Title" labelPlacement="floating" placeholder="Enter Title"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input label="Code" labelPlacement="floating" placeholder="Enter Code"></ion-input>
        </ion-item>
    </ion-list>

    <ion-title>Variants</ion-title>
    <ion-button class="btn-add" fill="outline" expand="block">
        <ion-label>Add</ion-label>
    </ion-button>
   

    <ion-list class="ion-padding">
        <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
            <ion-item>
                <ion-reorder slot="start"></ion-reorder>
                <ion-label> Item 1 </ion-label>
                <ion-button color="danger" slot="end" fill="clear" shape="round" expand="block">
                    <ion-icon name="close-circle-outline"></ion-icon>
                </ion-button>
            </ion-item>
            <ion-item>
                <ion-reorder slot="start"></ion-reorder>
                <ion-label> Item 2 </ion-label>
                <ion-button color="danger" slot="end" fill="clear" shape="round" expand="block">
                    <ion-icon name="close-circle-outline"></ion-icon>
                </ion-button>
            </ion-item>
            <ion-item>
                <ion-reorder slot="start"></ion-reorder>
                <ion-label> Item 3 </ion-label>
                <ion-button color="danger" slot="end" fill="clear" shape="round" expand="block">
                    <ion-icon name="close-circle-outline"></ion-icon>
                </ion-button>
            </ion-item>
            
        </ion-reorder-group>
    </ion-list>

</ion-content>
<!-- <ion-footer>
    <ion-button expand="block">
        {{operationStr}} Product
    </ion-button>
</ion-footer> -->