/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
}

.text-center{
  text-align: center;
}
.height-fix{
  height: 3rem;
}